<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="true"
        internalLogLevel="Debug" internalLogFile="${basedir}/logs/nlog-internal.log">
    <variable name="appName" value="L2AuthHost"/>
    <targets>
        <target name="logfile"
        xsi:type="File"
        fileName="${basedir}/logs/${appName}-${shortdate}.log"
        layout="${longdate} [${uppercase:${level}}] ${callsite}(${callsite-filename:includeSourcePath=False}:${callsite-linenumber}) - ${message} ${exception:format=ToString}"
        createDirs="true"
        encoding="UTF-8"
        keepFileOpen="true"
        concurrentWrites="false"
        archiveAboveSize="104857600"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        archiveFileName="${basedir}/logs/archives/${appName}-${shortdate}.{#}.log"
        />

        <target name="logconsole"
                xsi:type="Console"
                layout="${longdate} ${level:uppercase=true} ${callsite-filename:includeSourcePath=False}:${callsite-linenumber} ${callsite} : ${message}"/>
        <target name="debugOutput"
                xsi:type="Debug"
                layout="${longdate} ${uppercase:${level}} ${callsite-filename:includeSourcePath=False}:${callsite-linenumber} ${callsite} : ${message}" />
    </targets>
    <rules>
        <!-- Rules for mapping loggers to targets -->
        <logger name="*" minlevel="Info" writeTo="logconsole,logfile,debugOutput" />
    </rules>
</nlog>